@charset "UTF-8";

/* CSS Document */

/* Table td colors */

table td.dup_w {
  color: #FFFFFF;
  border-width: 0 1px 0 1px;
}

table td.dup_b {
  color: #00CCFF;
  border-width: 0 1px 0 1px;
}

/* Custom hover style for sidebar */
.list-group-item:hover#ReportSidebar {
  background-color: #eeeeee;
}

.panel-info > .panel-heading:hover#OwnerList {
  background-color: #B6CFDC;
}

.panel-success > .panel-heading:hover#StepList {
  background-color: #C5D8BC;
}

.panel-warning > .panel-heading:hover#ProjectList {
  background-color: #D5D3BD;
}

/*
 * Custom style popover
 */
.tube + .popover {
  max-width: none;
}

/*
 * Custom style tube
 */

.tube {
  max-height: 25px;
  min-height: 20px;
  padding: 2px 20px 2px 20px;
  margin: 2px 50px 2px 50px;
  color: #333333;
  background-color: #F5F5F5;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.tube-list {
  padding-left: 0;
  list-style: none
}

.tube-matrix {
  list-style-type: none;
  margin: 0;
  padding: 0 0 2.5em;
  float: left;
}

.tube-sm {
  height: 20px;
  padding: 1px 10px 1px 10px;
  margin: 1px 1px 1px 1px;
  border-radius: 3px;
  font-size: 10px;
  line-height: 1.4;
  text-align: center;
  display: block;
}

.tube-sm-header {
  text-align: center;
  background-color: #ffffff;
}

.tube-heading {
  /* padding: 10px 15px; */
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.tube-list > .tube-sm {
  width: 25%;
  float: left;
}

td.tube-sm {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  display: table-cell;
}

@media (min-width: 768px) {
  .tube-list {
    margin-left: 0;
    margin-right: 0
  }

  .tube-list > .tube-sm {
    width: 18%;
    font-size: 12px
  }

  .tube-sm {
    font-size: 12px
  }

  .tube-sm-header {
    font-weight: bold;
  }
}

.tube-header {
  max-height: 30px;
}

.tube-active {
  color: #468847;
  border-color: #d6e9c6;
  background-color: #dff0d8;
}

.tube-active:hover {
  background-color: #C5D8BC;
}

.tube-inactive {
  display: none;
  color: #7C7494;
  border-color: #B2A7D4;
  background-color: #D8D1EE;
}

.tube-inactive:hover {
  background-color: #A398C4;
}

.tube-placeholder {
  border-color: #dcdeba;
  background-color: #fffec9;
}

.tube-empty {
  border-color: #D6E3D8;
  background-color: #F2FFF2;
}

.tube-group {
  margin: 20px 0 20px 0;
}

#sample-holder .tube-active.ui-selectee.ui-selecting,
#sample-holder .tube-active.ui-selectee.ui-selected {
  background-color: #C5D8BC;
}

#sample-holder .tube-inactive.ui-selectee.ui-selecting,
#sample-holder .tube-inactive.ui-selectee.ui-selected {
  background-color: #ACA4C5;
}

.tube > .form-inline {
  vertical-align: baseline;
}

.tube > .form-inline > .form-group {
 padding: 0px 0px 0px 10px
}

td > .form-inline > .form-group {
  padding: 0px 0px 0px 10px
}

.tube > .form-inline > .form-group > .form-control {
  max-height: 21px;
  width: 80px;
  vertical-align: baseline;
  padding: 0px;
}

.tube > .table,
.tube > .table-responsive > .table,
.tube > .tube-collapse > .table {
  margin-bottom: 0;
}
.tube > .table:first-child,
.tube > .table-responsive:first-child > .table:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.tube > .table:first-child > thead:first-child > tr:first-child td:first-child,
.tube > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:first-child,
.tube > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.tube > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:first-child,
.tube > .table:first-child > thead:first-child > tr:first-child th:first-child,
.tube > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:first-child,
.tube > .table:first-child > tbody:first-child > tr:first-child th:first-child,
.tube > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:first-child {
  border-top-left-radius: 3px;
}
.tube > .table:first-child > thead:first-child > tr:first-child td:last-child,
.tube > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child td:last-child,
.tube > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.tube > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child td:last-child,
.tube > .table:first-child > thead:first-child > tr:first-child th:last-child,
.tube > .table-responsive:first-child > .table:first-child > thead:first-child > tr:first-child th:last-child,
.tube > .table:first-child > tbody:first-child > tr:first-child th:last-child,
.tube > .table-responsive:first-child > .table:first-child > tbody:first-child > tr:first-child th:last-child {
  border-top-right-radius: 3px;
}
.tube > .table:last-child,
.tube > .table-responsive:last-child > .table:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.tube > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.tube > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:first-child,
.tube > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.tube > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:first-child,
.tube > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.tube > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:first-child,
.tube > .table:last-child > tfoot:last-child > tr:last-child th:first-child,
.tube > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:first-child {
  border-bottom-left-radius: 3px;
}
.tube > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.tube > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child td:last-child,
.tube > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.tube > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child td:last-child,
.tube > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.tube > .table-responsive:last-child > .table:last-child > tbody:last-child > tr:last-child th:last-child,
.tube > .table:last-child > tfoot:last-child > tr:last-child th:last-child,
.tube > .table-responsive:last-child > .table:last-child > tfoot:last-child > tr:last-child th:last-child {
  border-bottom-right-radius: 3px;
}
.tube > .tube-body + .table,
.tube > .tube-body + .table-responsive {
  border-top: 1px solid #ddd;
}
.tube > .table > tbody:first-child > tr:first-child th,
.tube > .table > tbody:first-child > tr:first-child td {
  border-top: 0;
}
.tube > .table-bordered,
.tube > .table-responsive > .table-bordered {
  border: 0;
}
.tube > .table-bordered > thead > tr > th:first-child,
.tube > .table-responsive > .table-bordered > thead > tr > th:first-child,
.tube > .table-bordered > tbody > tr > th:first-child,
.tube > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.tube > .table-bordered > tfoot > tr > th:first-child,
.tube > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.tube > .table-bordered > thead > tr > td:first-child,
.tube > .table-responsive > .table-bordered > thead > tr > td:first-child,
.tube > .table-bordered > tbody > tr > td:first-child,
.tube > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.tube > .table-bordered > tfoot > tr > td:first-child,
.tube > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.tube > .table-bordered > thead > tr > th:last-child,
.tube > .table-responsive > .table-bordered > thead > tr > th:last-child,
.tube > .table-bordered > tbody > tr > th:last-child,
.tube > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.tube > .table-bordered > tfoot > tr > th:last-child,
.tube > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.tube > .table-bordered > thead > tr > td:last-child,
.tube > .table-responsive > .table-bordered > thead > tr > td:last-child,
.tube > .table-bordered > tbody > tr > td:last-child,
.tube > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.tube > .table-bordered > tfoot > tr > td:last-child,
.tube > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.tube > .table-bordered > thead > tr:first-child > td,
.tube > .table-responsive > .table-bordered > thead > tr:first-child > td,
.tube > .table-bordered > tbody > tr:first-child > td,
.tube > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.tube > .table-bordered > thead > tr:first-child > th,
.tube > .table-responsive > .table-bordered > thead > tr:first-child > th,
.tube > .table-bordered > tbody > tr:first-child > th,
.tube > .table-responsive > .table-bordered > tbody > tr:first-child > th {
  border-bottom: 0;
}
.tube > .table-bordered > tbody > tr:last-child > td,
.tube > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.tube > .table-bordered > tfoot > tr:last-child > td,
.tube > .table-responsive > .table-bordered > tfoot > tr:last-child > td,
.tube > .table-bordered > tbody > tr:last-child > th,
.tube > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.tube > .table-bordered > tfoot > tr:last-child > th,
.tube > .table-responsive > .table-bordered > tfoot > tr:last-child > th {
  border-bottom: 0;
}
.tube > .table-responsive {
  margin-bottom: 0;
  border: 0;
}

/*
 * Custom style for label of progress-bar
 */
.progress-label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
