@charset "UTF-8";

/* CSS Document */

/* Table td colors */

table td.dup_w {
  color: #FFFFFF;
  border-width: 0 1px 0 1px;
}

table td.dup_b {
  color: #00CCFF;
  border-width: 0 1px 0 1px;
}

/* Custom hover style for sidebar */
.list-group-item:hover#ReportSidebar {
  background-color: #eeeeee;
}

.panel-info > .panel-heading:hover#OwnerList {
  background-color: #B6CFDC;
}

.panel-success > .panel-heading:hover#StepList {
  background-color: #C5D8BC;
}

.panel-warning > .panel-heading:hover#ProjectList {
  background-color: #D5D3BD;
}


/*
 * Custom style tube
 */

.tube {
  padding: 2px 20px 2px 20px;
  margin: 2px 50px 2px 50px;
  color: #333333;
  background-color: #F5F5F5;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  vertical-align: middle;
}

.tube-list {
  padding-left: 0;
  list-style: none;
}

ul.tube-list {
  display: table-row;
}

ul.tube-list-row {
  display: table-row-group;
  white-space: nowrap;
}

div.tube-list-col {
  display: inline-block;
}

.tube-header-list {
  padding-left: 0;
  display: table-header-group;
  list-style: none
}

.tube-sm {
  height: 20px;
  padding: 1px 10px 1px 10px;
  margin: 1px 1px 1px 1px;
  border-radius: 2px;
  font-size: 10px;
  line-height: 1.4;
  text-align: center;
  vertical-align: middle !important;
  display: block;
}

.tube-sm-header {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  border-radius: 0px;
  text-align: center;
  display: inline-block;
  background-color: #ffffff;
  margin: 1px 1px 1px 1px;
}

.tube-sm-row-header {
  min-width: 200px;
}

ul.tube-list-row > ul.tube-list-col {
  padding: 0;
  display: inline-block;
}

ul.tube-list-row > ul > li.tube-sm {
  display: inline-block;
  line-height: 18px !important;
}

ul.tube-list > li.tube-sm {
  display: inline-block;
  line-height: 18px !important;
}

.tube-dualmultiplex > .tube-header-list > .tube-sm-row-header, .tube-sm-col-header {
  height: 35px !important;
  max-height: 35px !important;
  vertical-align: middle !important;
}

@media (min-width: 768px) {
  .tube-list {
    margin-left: 0;
    margin-right: 0
  }

  .tube-list > .tube-sm {
    font-size: 12px
  }

  .tube-sm {
    font-size: 12px
  }

  .tube-sm-header {
    font-weight: bold;
  }
}

.tube-header {
}

.tube-active {
  color: #468847;
  border-color: #d6e9c6;
  background-color: #dff0d8;
}

.tube-active:hover {
  background-color: #C5D8BC;
}

.tube-inactive {
  display: none;
  color: #7C7494;
  border-color: #B2A7D4;
  background-color: #D8D1EE;
}

.tube-inactive:hover {
  background-color: #A398C4;
}

.tube-placeholder {
  /* min-width: 150px; */
  border-color: #dcdeba !important;
  background-color: #fffec9 !important;
  display: inline-block;
}

.tube-empty {
  border-color: #D6E3D8;
  background-color: #F2FFF2;
}

.tube-group {
  margin: 20px 0 20px 0;
}

#sample-holder .tube-active.ui-selectee.ui-selecting,
#sample-holder .tube-active.ui-selectee.ui-selected {
  background-color: #C5D8BC;
}

#sample-holder .tube-inactive.ui-selectee.ui-selecting,
#sample-holder .tube-inactive.ui-selectee.ui-selected {
  background-color: #ACA4C5;
}

.tube > .form-inline {
  vertical-align: baseline;
}

.tube > .form-inline > .form-group {
  padding: 0 0 0 10px
}

td > .form-inline > .form-group {
  padding: 0 0 0 10px
}

.tube > .form-inline > .form-group > .form-control {
  max-height: 21px;
  width: 80px;
  vertical-align: baseline;
  padding: 0;
}

.tube-responsive {
  width: 100%;
  margin-bottom: 15px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  white-space: nowrap;
  /* border: 1px solid #ddd; */
}



/*
 * Custom style for label of progress-bar
 */
.progress-label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

/*
 * Custom style for Handsontable option: currentRowClassName and currentColClassName
 */
.handsontable .currentRow {
  background-color: #E7E8EF;
}

.handsontable .currentCol {
  background-color: #F9F9FB;
}

/*
 * Custom style for copy button (modify of close button style of bootstrap3)
 */
.tube-copy {
   float: right;
   font-size: 13px;
   font-weight: bold;
   line-height: 1;
   color: #000;
   text-shadow: 0 1px 0 #fff;
   filter: alpha(opacity=20);
   opacity: .2;
 }

.tube-copy:hover,
.tube-copy:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}

button.tube-copy {
  -webkit-appearance: none;
  padding: 2px 8px 0 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  vertical-align: middle !important;
}

/*
 * Custom style for copy button (modify of close button style of bootstrap3)
 */
.tube-close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
}

.tube-close:hover,
.tube-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  filter: alpha(opacity=50);
  opacity: .5;
}

button.tube-close {
  -webkit-appearance: none;
  padding: 0 0 0 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  vertical-align: middle !important;
}

/*
 * Custom style popover
 */
.tube + .popover {
  max-width: none;
}

